body{
  height: 100vh;
  width: 100vw;
  margin: 0%;
  text-align: center; 
  background: #F5F7FB;
  background: linear-gradient(149deg,rgba(201,243,255,1) 0%, #F5F7FB 45%); 
}
.App{
  font-family: Arial, Helvetica, sans-serif;
}